/*Visualization Styling:*/
.prototype {
    border-width: 2px;
    border-color: #888888;
    border-style: solid;
    width: 900px;
    height: 450px;
    min-width: 900px;
}

.visualization {
    border-width: 2px;
    border-color: #888888;
    border-style: solid;
}

.hidden-ticks line{
    visibility:hidden;
}

/*Page Styling*/
.page-content {
    width: 900px;
    max-width: 900px;
}

.profile-box {
    border-width: 2px;
    border-color: #BBBBBB;
    border-style: solid;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 5px;
    margin-left: 5px;
}

.contributions-box {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 50px;
    margin-left: 50px;
}

.check-list {
    list-style: none !important;
}

.hero.is-primary.is-bold {
    background: linear-gradient(90deg, rgba(122,55,196,1) 0%, rgba(95,55,196,1) 44%, rgba(41,191,222,1) 100%) !important;
}

.content {
    margin: auto;
}

footer.smaller-footers-are-better {
    /*position: fixed;*/
    /*bottom: 0;*/
    height:50px;
    width: 100%;

    padding-top: 2rem;
    padding-bottom: 4rem;
}